/* importing cinzel decorative font */
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

/* General Styles for the puzzles container */
.puzzles {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-image: url('/public/assets/gamebg4.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
}

/* Logo Styles for the logo text */
.logo-text {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 36px;
  font-weight: bold;
  color: #00A0FF;
  font-family: 'Cinzel Decorative', serif;
  z-index: 2;
  cursor: pointer;
  text-decoration: none;
}

/* Hover effect for logo text */
.logo-text:hover {
  text-decoration: underline;
}

/* User Info Styles for displaying user information */
.user-info {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #2d536b;
  color: white;
  padding: 8px 16px;
  border-radius: 30px 0 30px 0;
  text-decoration: none;
  font-weight: bold;
  transition: background-color .3s ease;
  z-index: 2;
  cursor: pointer;
}

/* Hover effect for user info */
.user-info:hover {
  background-color: #6C757D;
}

/* Dropdown Styles for the dropdown menu */
.dropdown {
  position: absolute;
  top: 30px;
  right: 0;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

/* Styles for the dropdown button */
.dropdown-button {
  background-color: #F8F9FA;
  color: #212529;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  padding-top: 50px
}

/* Hover effect for dropdown button */
.dropdown-button:hover {
  background-color: #343A40;
}

/* Main Content Styles for the main section */
main {
  padding-top: 50px;
}

/* Styles for h2 headings */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Styles for message text */
.message {
  font-size: 18px;
  margin-bottom: 20px;
  color: #c0e820;
}

/* Chessboard Styles for the chessboard layout */
.chessboard {
  display: inline-flex;
  flex-direction: column;
  border: 2px solid #333;
  margin-top: 0px;
}

/* Styles for each row of the chessboard */
.board-row {
  display: flex;
}

/* File labels for the chessboard */
.file-labels {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
}

/* Rank labels for the chessboard */
.rank-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
}

/* Styles for each square on the chessboard */
.square {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
}

/* Styles for chess pieces */
.chess-piece {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

/* Styles for selected squares */
.selected {
  box-shadow: inset 0 0 0 3px yellow;
}

/* Styles for possible moves indication */
.possible-move::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: rgba(255,0,0,.5);
  border-radius: 50%;
}

/* Hint Styles for hinting moves */
.hint {
  box-shadow: inset 0 0 0 3px green;
}

/* Button container styles */
.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* Styles for buttons */
button {
  margin: 5px;
  padding: 10px;
  background: linear-gradient(90deg, #FF00FF, #FF77FF);
  color: white;
  border: none;
  border-radius: 30px 0 30px 0;
  cursor: pointer;
}

/* Hover effect for buttons */
button:hover {
  background-color: #0056b3;
}

/* Level Selection Styles for selecting game levels */
.level-selection {
  position: absolute;
  top: 140px;
  right: 250px;
  color: white;
  z-index: 3;
}
